body{
        pointer-events: auto !important;
        background-size: 100% !important;
        opacity: 0.90 !important;
        background-position: 0 0 !important;
        background-image: url(1602b26c05ee78120695d592a68b8912.gif);
        content: '';
        position: absolute;
        z-index: 999;
        width: 100%;
        background-repeat: no-repeat;
        font: normal 20pt Arial;
        }
    
    
   
    
    header {
    text-align: center;
    text-justify: auto;
    color: rgb(255, 255, 255);
    }
    section {
    background: rgb(34, 143, 58);
    border-radius: 100px;
    padding: 200px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.363);
    }
    footer {
    color: papayawhip;
    text-align: center;
    font-style: italic;
    }
    
